[user]
    name = Marco Antônio
    email = marcodsl@tuta.io

[credential "https://github.com"]
    helper = "!gh auth git-credential"

[core]
    eol = lf
    editor = /usr/bin/vim
    pager = /usr/bin/less -r
    excludesfile = ~/.gitignore_global

[push]
    default = current

[pull]
    rebase = true

[alias]
    unstage = reset HEAD --
    uncommit = reset --soft HEAD~

[init]
    defaultBranch = main

